<!DOCTYPE html>
<html>
  <head>
    <title>포인트 조회</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
    <h1>포인트 조회</h1>
    <p>사용자 ID</p><input type="text" id="user_id" /><input type="button" value="검색" onclick="javascript:location.href='/point?userId=' + document.getElementById('user_id').value" />
  </body>
</html>
